[submodule "vimplugins/ycm"]
	path = vimplugins/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vimplugins/ultisnips"]
	path = vimplugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
