[submodule "vimplugins/vim-pathogen"]
	path = vimplugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimplugins/nerdtree"]
	path = vimplugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimplugins/cscope_macros.vim"]
	path = vimplugins/cscope_macros.vim
	url = https://github.com/vim-scripts/cscope_macros.vim.git
[submodule "vimplugins/tagbar"]
	path = vimplugins/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vimplugins/ycm"]
	path = vimplugins/ycm
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vimplugins/command-t"]
	path = vimplugins/command-t
	url = https://github.com/wincent/command-t.git
    ignore = dirty
[submodule "vimplugins/vim-fugitive"]
	path = vimplugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimplugins/ultisnips"]
	path = vimplugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vimplugins/vim-snippets"]
	path = vimplugins/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vimplugins/ack.vim"]
	path = vimplugins/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimplugins/vim-airline"]
	path = vimplugins/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimplugins/vim-indentwise"]
	path = vimplugins/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "vimplugins/vim-abolish"]
	path = vimplugins/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimplugins/syntastic"]
	path = vimplugins/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vimplugins/ListToggle"]
	path = vimplugins/ListToggle
	url = https://github.com/Valloric/ListToggle.git
